.custom-scrollbar {
  padding: 14px;
}

.custom-scrollbar::-webkit-scrollbar {
  scrollbar-width: thin;
  width: 4px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff00cc, #333399); /* Neon Blue */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background:  linear-gradient(180deg, #ff00cc, #333399); /* Green Blue for hover effect */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2833; /* Dark Grey for the track */
}

.gradient-text-sub {
  background: linear-gradient(90deg, #ff00cc, #333399);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  background: linear-gradient(280deg, #fc00ff, #00dbde);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
